 <!DOCTYPE html>
<html lang="en">
<head>
  <title>CSC 4330 Group D</title>
  <style>
     nav {
      padding: 5px;
      text-align: right;
      font-size: 15px;
      color: black;
    }
  .headerBox {
	background-color: lightskyblue;
	padding: 20px;
	height: 80px;
	font-size: 20px;
	color: black;
	position: relative;
  }
  .pageTitle{
	position: absolute;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
  }
  .rectangleB {
  text-align: center;
  height: 600px;
  width: 1000px;
  background-color: lightskyblue;
  color: black;
  position: relative;
  margin: auto; 
}
.rectangleG1 {
  text-align: center;
  height: 50px;
  width: 400px;
  background-color: lightslategray;
  color: black;
  position: relative;
  margin: auto;
  line-height: 60px;
}
.rectangleG2 {
  text-align: center;
  height: 200px;
  width: 800px;
  background-color: lightslategray;
  color: black;
  position: relative;
  margin: auto;
  line-height: 60px;
}
  </style>
</head>
<body>
  <nav>
    <a href="/navHomepage">Homepage</a>
    <a href="/navSchedule">My Schedule</a>
    <a href="/navInbox">Inbox</a>
    <a href="/navAccount">Account</a>
    <a href="/logout">Logout</a>
  </nav>
  <div class = "headerBox">
  
    <img src="TutorCenterLogo.png" width="80" height="80" style="float:left">
	<div class = "pageTitle">
		<h1>Account</h1>
	</div>
  
  </div>
  <br>
<div class="rectangleB">
  <img src="PlaceholderPicture.png" width="200" height="200" style="float:left">
 </div>
  <br>
  <form method = "post" action= "/account">
  <div class="rectangleG1">
    <p>First Name: <%= firstName %></p>   
  </div>
  <br><br>
  <div class="rectangleG1">
    <p>Last Name: <%= lastName %></p>  
  </div>
  <br>
  <div class="rectangleG1">
    
  </div>
  <br>
  <div class="rectangleG1">
    <p>Subjects</p>    
  </div>
  <br>
  <div class="rectangleG2">
    <p>Times</p>    
  </div>
</form>


	
</body>
</html> 
