

 <!DOCTYPE html>
<html lang="en">
<head>
  <title>CSC 4330 Group D</title>
  <style>
     nav {
      padding: 5px;
      text-align: right;
      font-size: 15px;
      color: black;
    }
  .headerBox {
	background-color: lightskyblue;
	padding: 20px;
	height: 120px;
	font-size: 20px;
	color: black;
	position: relative;
  }
  .pageTitle{
	position: absolute;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
  }


  </style>
</head>
<body>
    <nav>
        <a href="/navHomepage">Homepage</a>
        <a href="/navAccount">Account</a>
	    <a href="/logout">Logout</a>
    </nav>
  <div class = "headerBox">

    <img src="TutorCenterLogo.png" width="80" height="80" style="float:left">
	<div class = "pageTitle">
		<h1>Admin Homepage</h1>
	</div>
  </div>
<br>
<div>
</div>
<div>
  <h1>Students</h1>
  <ul>
    <% for (let i = 0; i < students.length; i++) { %>
      <li><%= students[i].firstName + " " + students[i].lastName %><br></li>
    <% } %>
  </ul>
</div>
<div>
  <h1>Tutors</h1>
  <ul>
    <% for (let i = 0; i < tutors.length; i++) { %>
      <li><%= tutors[i].firstName + " " + tutors[i].lastName %><br></li>
    <% } %>
  </ul>
</div>
</body>
</html> 
