 <!DOCTYPE html>
<html lang="en">
<head>
  <title>CSC 4330 Group D</title>
  <style>
     nav {
      padding: 5px;
      text-align: right;
      font-size: 15px;
      color: black;
    }
  .headerBox {
	background-color: lightskyblue;
	padding: 20px;
	height: 80px;
	font-size: 20px;
	color: black;
	position: relative;
  }
  .pageTitle{
	position: absolute;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
  }
  .card {
    background-color: lightskyblue;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    margin: 1rem auto;
    width: 800px;
    height: 100px;
    position: relative;
   
  }
  #appointName {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -90%);
  font-weight: bold;
  }
  #appointTime {
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -67%);
  }
  #appointMess {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }
  </style>
</head>
<body>
    <nav>
        <a href="/navHomepage">Homepage</a>
        <a href="/navSchedule">My Schedule</a>
        <a href="/navInbox">Inbox</a>
        <a href="/navAccount">Account</a>
	<a href="/logout">Logout</a>
    </nav>
  <div class = "headerBox">
  
    <img src="TutorCenterLogo.png" width="80" height="80" style="float:left">
	<div class = "pageTitle">
		<h1>Student Inbox</h1>
	</div>
  
  </div>
      <% for (var i = 0; i < messages.length; i++) { %>
      <div class="card">
      <h2 id="appointName"><%= names[i].firstName + " " + names[i].lastName %></h2>
      <h4 id="appointTime"><%= messages[i].dayTime %></h4> 
      <h4 id="appointMess"><%= messages[i].message %></h4>
      </div>
   <% } %>

</body>
</html> 
